<!doctype html>

<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">

    <title>SEAFTA LOGIN PAGE</title>

    <link rel="stylesheet" href="css/registration.css">
    <link rel="stylesheet" href="css/hamburger.css">
</head>

<body>

<nav role="navigation">
    <div id="menuToggle">

        <input type="checkbox" />


        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="/account"><li>Home</li></a>
            <a href="/calculate"><li>Calculate</li></a>
            <a href="/exercise"><li>Exercise</li></a>
            <a href="/progress"><li>Notebook</li></a>
            <a href="/mailbox"><li>Mailbox</li></a>
        </ul>
    </div>
</nav>
<div class='bold-line'></div>
<div class='container'>
    <div class = "formCalculator">
        <form class ="calculator" action="#" th:action="@{/calculatortest}" th:object="${accountDetails}" method="post">
            <label class="field field_v1">
            <input type='text' class="field__input" th:field="*{sex}" placeholder='Sex'></input></br>
                <span class="field__label-wrap">
                    <span class="field__label">Sex</span>
                </span>
            </label>
            <label class="field field_v1">
            <input type='number' class="field__input" th:field="*{height}" placeholder='Height'></input></br>
                <span class="field__label-wrap">
                    <span class="field__label">Height</span>
                </span>
            </label>
            <label class="field field_v1">
            <input type='number' class="field__input" th:field="*{weight}" placeholder='Weight'></input></br>
                <span class="field__label-wrap">
                    <span class="field__label">Weight</span>
                </span>
            </label>
            <label class="field field_v1">
            <input type='number' class="field__input" th:field="*{age}" placeholder='Age'></input></br>
                <span class="field__label-wrap">
                    <span class="field__label">Age</span>
                </span>
            </label>
            <label class="field field_v1">
            <input type='number' class="field__input" min="1.2" max="1.7" step="any" th:field="*{activity}" placeholder='Activity'></input></br>
                <span class="field__label-wrap">
                    <span class="field__label">Activity</span>
                </span>
            </label>
            <input type='submit' class="field_submit" value='Calculate'>
        </form>
        <p>1,2 – 1,3 – Twoja aktywność wygląda: dom-samochód - praca – samochód - dom</p>

        <p>1,4 – wykonujesz pracę siedzącą, nie masz dodatkowej aktywności w tygodniu, starasz się chodzić w ciągu dnia</p>

        <p>1,5  - 1,6 – wykonujesz pracę siedzącą i 2-3 dodatkowe treningi w tygodniu</p>

        <p>1,7 – 1,8 – wykonujesz pracę fizyczną i brak dodatkowego treningu lub siedzącą i 4-5 dodatkowych treningów</p>

        <p>1,9 – 2,1 – wykonujesz pracę fizyczną i 2-3 treningi w tygodniu lub pracę siedzącą i trenujesz codziennie</p>

        <p><2,2 – wykonujesz ciężką pracę fizyczną lub bardzo intensywnie trenujesz</p>
    </div>
</div>
</div>
</body>
</html>