<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="css/registration.css">
    <link rel="stylesheet" href="css/hamburger.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav role="navigation">
    <div id="menuToggle">

        <input type="checkbox" />


        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="/account"><li>Home</li></a>
            <a href="/calculatortest"><li>Calculate</li></a>
            <a href="/exercise"><li>Exercise</li></a>
            <a href="/progress"><li>Notebook</li></a>
            <a href="/mailbox"><li>Mailbox</li></a>
        </ul>
    </div>
</nav>

<div class='container'>
    <div class = "container_table">
    <table>
        <form class ="form_table" th:object="${exercises}" action="#" th:action="@{/save}" method="post">
            <div class ="dzialaj">
            <th:block th:each = "exercise: ${exercises}">
                <div class ="input_pole">
            <input class ="input_exercise" type ="checkbox" name = "exercise"
                        th:value="${{exercise.id}}"
                   th:text="${exercise.getName}"/>
            <br />
                </div>
            </th:block>
            </div>
            <div class = "submit">
            <input type="submit" />
            </div>
        </form>
    </table>
        </div>
</div>
</div>
</body>
</html>