<!doctype html>

<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">

    <title>SEAFTA LOGIN PAGE</title>

    <link rel="stylesheet" href="css/registration.css">
    <link rel="stylesheet" href="css/hamburger.css">
</head>

<body>
<div class='bold-line'></div>
<div class='container'>
    <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
            <div class='welcome'>Hello there!</div>
            <div class='subtitle'></div>
            <div class='input-fields'>
                <form method="post" th:action="@{/registration}" th:object="${request}">
                <input type='text' th:field="*{firstName}" placeholder='firstName' class='input-line full-width'></input>
                    <input type='text' th:field="*{lastName}" placeholder='lastName' class='input-line full-width'></input>
                <input type='email' th:field="*{email}" placeholder='Email' class='input-line full-width'></input>
                <input type='password' th:field="*{password}" placeholder='Password' class='input-line full-width'></input>
                <input type='submit' value='Create Account' class ='ghost-round full-width'>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>